body {
  margin:0;
  padding:0;
  overflow-x: hidden;
}

header {
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: sticky;
  top:0;
}

#icon {
  height: 100px;
  width: auto;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  flex-grow: 1;
}

main {
  display: grid;
  grid-template-areas: 
      "content content sidebar";
}

.content {
  grid-area: content;
  margin: 10px;
}

.sidebar {
  grid-area: sidebar;
  margin: 10px;
}

.article {
  margin-bottom: 25px;
  padding: 5px;
  border: 2px black solid;
  border-radius: 5px;
}

.title {
  margin-bottom: 5px;
  text-align: center;
}

.links > a {
  text-decoration: none;
  color:black;
  background-color: goldenrod;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
}

.links > a:hover {
  background-color: #B8860B;
}