.wrapper {
  background-color: bisque;
  height: 50vh;
  display: grid;
  margin-bottom: 10px;
  grid-template-areas: 
  "two three ."
  "one one one"
  "one one one"
  "four . five";
}

.one {
  grid-area: one;
  background-color: cyan;
}

.two {
  grid-area: two;
  background-color: peru;
}

.three {
  grid-area: three;
  background-color: cornflowerblue;
}

.four {
  grid-area: four;
  background-color: blueviolet;
}

.five {
  grid-area: five;
  background-color: coral;
}
